[submodule "external/BIManalyst_g_xy"]
	path = external/BIManalyst_g_xy
	url = https://github.com/timmcginley/BIManalyst_g_xy.git
[submodule "external/Group-14"]
	path = external/Group-14
	url = https://github.com/Dicle11/Group-14.git
	branch = main
[submodule "external/Group-13"]
	path = external/Group-13
	url = https://github.com/s223928/Group-13.git
	branch = main
[submodule "external/Group-15"]
	path = external/Group-15
	url = https://github.com/Kolde16/Group-15.git
	branch = main
